/* Main container styling */
.main {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light background for better contrast */
}

/* Centered form container styling */
.centred {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Max width for better readability */
    width: 100%; /* Ensure the form takes full width up to max-width */
}

/* Class name input container styling */
.className {
    width: 100%;
    margin-bottom: 15px;
}

/* Class name label styling */
.className label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

/* Class name input styling */
.className input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Import file label styling */
label[for="importFile"] {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

/* Import file input styling */
input[type="file"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Imported file name label styling */
#importedFileName {
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #666;
}

/* Button styling */
/* Button styling */
button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #3498db; /* Blue background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

