* {
    user-select: none;
}

/* Main container styling */
.main {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
    overflow: scroll;
}

/* Container for tests */
.test-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 90%;
    max-width: 800px;
    padding-bottom: 20px;
}

/* Individual test item styling */
.test-item {
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: relative;
}

/* Test info styling */
.test-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Test name styling */
.test-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
}

/* Change test button styling */
.change-test-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-test-button:hover {
    background-color: #0056b3;
}

/* Question list styling */
.question-list {
    display: none;
    padding-top: 10px;
}

/* Individual question item styling */
.question-item {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    
}

.question-item:hover {
    background-color: #e9ecef;
    border-color: #adb5bd;
}

/* Feedback list styling */
.feedback-list {
    display: none;
    padding-left: 20px;
}

/* Individual feedback item styling */
.feedback-item {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Mark styling */
.mark {
    font-weight: bold;
    color: #333333;
}

/* Custom scrollbar styling */
.custom-scrollbar {
    width: 20px;
    position: fixed;
    right: 0;
    background: #696969;
    margin-right: 1%;
    border-radius: 10px;
}

/* Copy question button styling */
.copy-question {
    background-color: #5bc0de;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.copy-question:hover {
    background-color: #31b0d5;
}

/* Flex container for question number and text */
.question-text-container {
    display: flex;
    flex: 1;
    align-items: center;
}

.question-number {
    margin-right: 10px;
    font-weight: bold;
}

.question-text {
    word-wrap: break-word;
    white-space: normal;
    flex: 1;
    max-width: 70%;
}

/* Flex container for the right-aligned actions */
.question-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
